/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url(vars.css);
.btn {
    display: block;
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
    text-align: center;
    line-height: 110%;
    font-weight: 600;
    color: var(--white);
    width: 100%;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.btn--norm {
    max-width: 370px;
    border-radius: 5px;
    background: rgba(238, 0, 0, 0.9);
    color: var(--white);
    padding: 10px;
}

.btn--small {
    max-width: 330px;
    border-radius: 5px;
    background: rgba(238, 0, 0, 0.8);
    -webkit-box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);
    border-radius: 10px;
    color: var(--white);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.btn--white {
    color: var(--light-black);
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.btn--white:hover {
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.btn--red {
    width: unset;
    background: var(--red);
    border-radius: 10px;
    padding: 10px 20px;
}

.grad-btn {
    padding: 20px 30px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(186, 27, 17, 0.8)), to(rgba(216, 19, 0, 0.8)));
    background: -o-linear-gradient(bottom, rgba(186, 27, 17, 0.8) 0%, rgba(216, 19, 0, 0.8) 100%);
    background: linear-gradient(0deg, rgba(186, 27, 17, 0.8) 0%, rgba(216, 19, 0, 0.8) 100%);
    -webkit-box-shadow: 0px 5px 10px rgba(var(--black), 0.1), inset 0px 5px 10px rgba(var(--red), 0.05);
    box-shadow: 0px 5px 10px rgba(var(--black), 0.1), inset 0px 5px 10px rgba(var(--red), 0.05);
    border-radius: 10px;
    opacity: 0.9;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    font-weight: bold;
}

.grad-btn:hover {
    text-decoration: underline;
}

.grad-btn--grey {
    background: rgba(255, 255, 255, 0.2);
    padding: 15px 20px;
}

.btn:hover,
.btn--scale:hover {
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04)
}