/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.grad-btn {
    font-size: 25px;
}

.grad-shadow {
    height: 55px;
}


/* header */

.header .nav-wr {
    max-width: 1340px;
}

.nav {
    width: unset;
    -webkit-box-ordinal-group: -2;
    -ms-flex-order: -3;
    order: -3;
}

.call,
.social {
    margin: 0 10px;
}


/* intro */

.intro {
    min-height: calc(100vh - 102px);
}

.main-title {
    font-size: 60px;
    line-height: 1.2;
}

.intro__desc {
    font-size: 35px;
    margin-bottom: 50px;
}

.intro__item {
    font-size: 30px;
    margin-bottom: 20px;
}

.bigger {
    font-size: 40px;
}


/* about */

.about__quot {
    font-size: 25px;
}

.about__ques {
    position: absolute;
    bottom: var(--gap);
    left: 100px;
}


/* feedback */

.feedback__inner {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.feedback__form {
    max-width: 570px;
    width: 100%;
}


/* footer */

.footer__nav .nav__menu {
    display: block;
}

.footer__nav .nav__menu>li {
    margin: 2px 20px;
}

.footer__nav .nav__menu>li>a {
    padding: 5px;
}

.footer .nav-wr {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.footer .nav__submenu {
    top: calc(100% + 5px);
}


/* sec adv */

.sec-adv {
    padding: 140px 0 75px;
}

.sec-adv__title {
    text-align: center;
}

.sec-adv__item {
    margin: 0 25px;
}


/* steps */

.step__list {
    grid-gap: 150px;
}

.step__item:last-child {
    text-align: left;
    width: unset;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.step__item::after {
    width: 42px;
    height: 42px;
    left: unset;
    top: 25px;
    right: -75px;
}