/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

body {
    font-size: 17px;
}

.btn--small {
    font-size: 15px;
}


/* header */

.social__link {
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
}

.logo img {
    width: 35px;
}

.descr span {
    font-size: 17px;
}

.descr small {
    font-size: 13px;
}


/* intro */

h1,
h2 {
    font-size: 29px;
    line-height: 1.3;
}

.intro {
    min-height: calc(100vh - 122px);
}

.intro__desc {
    font-size: 20px;
    line-height: 1.3;
}

.intro__item::before {
    width: 50px;
    height: 50px;
}

.intro__btn {
    font-size: 17px;
}

.bigger {
    font-size: 27px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}


/* kinds */

.kind__title {
    font-size: 20px;
    line-height: 1.1;
}

.kind__adv span {
    font-size: 18px;
}


/* works */

.work__subtitle {
    font-size: 19px;
}

.work__pag {
    bottom: 90px!important;
}


/* about */

.about__quot {
    max-width: 390px;
}

.about__img {
    height: unset;
}

.about__ques {
    max-width: 425px;
    margin-left: auto;
    margin-right: auto;
}


/* reviews */

.review__cover {
    max-width: 430px;
    margin: 0 auto -90px;
}

.review__slider {
    width: 165px;
    height: 340px;
    left: calc(50% - 56px);
    top: 40px;
}


/* map */

.map__title {
    font-size: 20px;
    line-height: 1.3;
}


/* feedback */

.feedback__video {
    width: 320px;
    max-width: unset;
}


/* footer */

.footer__nav {
    top: -66px;
}


/* sep-form */

.sep-form__cont {
    width: 375px;
}