:root {
    --swiper-theme-color: #FFFFFF;
    --swiper-pagination-bullet-inactive-opacity: 0.6;
}

.swiper-button-next,
.swiper-button-prev {
    backdrop-filter: blur(5px);
    border-radius: 50%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 13px;
}

.swiper-fade .swiper-slide {
    opacity: 0!important;
    height: 0;
}

.swiper-fade .swiper-slide-active {
    opacity: 1!important;
    height: auto;
    padding-bottom: 10px;
}


/* works */

.work__slider {
    margin-left: calc( 0px - var(--gap));
    margin-right: calc( 0px - var(--gap));
    padding: 0 var(--gap);
}

.work__pag {
    bottom: 70px!important;
}

.work__prev,
.work__next {
    background: rgba(255, 255, 255, 0.1);
    top: calc(50% + 50px);
    width: 30px;
    height: 30px;
}

.work__pag .swiper-pagination-bullet {
    background: #FFFFFF;
}


/* reviews */

.review__slider {
    width: 123px;
    height: 250px;
    position: absolute;
    left: calc(50% - 42px);
    top: 30px;
}

.review__pag .swiper-pagination-bullet {
    background: #000000;
    margin: 0 2px!important;
    width: 5px;
    height: 5px;
}

.review__prev,
.review__next {
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.3);
    top: calc(50% + 50px);
}

.review__next:after,
.review__prev:after {
    font-size: 10px;
}