/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

:root {
    --swiper-theme-color: #FFFFFF;
    --swiper-pagination-bullet-inactive-opacity: 0.6;
}

.swiper-button-next,
.swiper-button-prev {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 50%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 13px;
}

.swiper-fade .swiper-slide {
    opacity: 0!important;
    height: 0;
}

.swiper-fade .swiper-slide-active {
    opacity: 1!important;
    height: auto;
}

.work__slider .swiper-fade .swiper-slide-active {
    padding-bottom: 10px;
}

.swiper-pagination {
    font-size: 0;
}


/* works */

.work__slider {
    margin-left: calc( 0px - var(--gap));
    margin-right: calc( 0px - var(--gap));
    padding: 0 var(--gap) 10px;
}

.work__pag {
    bottom: 75px!important;
}

.work__prev,
.work__next {
    background: rgba(255, 255, 255, 0.1);
    top: calc(50% + 50px);
    width: 30px;
    height: 30px;
}

.work__pag .swiper-pagination-bullet {
    background: #FFFFFF;
}


/* reviews */

.review__slider {
    width: 123px;
    height: 268px;
    position: absolute;
    left: calc(50% - 42px);
    top: 8px;
    border-radius: 11px;
}

.review__item img {
    height: 100%;
}

.review__pag {
    bottom: 20px!important;
}

.review__pag .swiper-pagination-bullet {
    background: #000000;
    margin: 0 2px!important;
    width: 5px;
    height: 5px;
}

.review__prev,
.review__next {
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.3);
    top: calc(50% + 50px);
}

.review__next:after,
.review__prev:after {
    font-size: 10px;
}


/* kinds gallery */

.gallery__pag .swiper-pagination-bullet {
    background: none;
    border: 1px solid #FFFFFF;
    margin: 0 2px!important;
    width: 7px;
    height: 7px;
}

.gallery__pag .swiper-pagination-bullet-active {
    background: #FFFFFF;
}

.gallery__prev,
.gallery__next {
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.7);
    top: calc(50% + 20px);
}

.gallery__next:after,
.gallery__prev:after {
    font-size: 10px;
    color: rgba(53, 53, 53, 0.85);
}