/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

:root {
    --slide-left: 360px;
    --gap: 30px;
}

body {
    font-size: 20px;
    line-height: 1.3;
}

.btn--small {
    font-size: 18px;
}

.btn--norm {
    font-size: 20px;
    padding: 15px;
}

.btn--red {
    font-size: 20px;
    padding: 15px 30px;
    max-width: unset;
    width: unset;
}

.title--bordered {
    margin: 0 0 50px;
    padding: 0 0 10px;
    border-bottom: 5px solid rgba(238, 0, 0, 0.8);
    display: inline-block;
}

.form__title {
    font-size: 25px;
    line-height: 29.35px;
    margin-bottom: 10px;
}

.form__subtitle {
    margin-bottom: 35px;
}

.form {
    padding: 30px 50px 25px 20px;
}

.form__input-wr {
    margin-bottom: 25px;
}

.form__agreement {
    font-size: 14px;
    line-height: 16px;
}

.form__submit {
    margin-top: 40px;
}

.popup__body .form__agreement {
    margin-top: 15px;
}


/* header */

.header {
    padding: 0;
}

.nav-wr {
    padding: 5px 15px;
}

.logo {
    -webkit-box-ordinal-group: -2;
    -ms-flex-order: -3;
    order: -3;
}

.social {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}

.call {
    -webkit-box-ordinal-group: -1;
    -ms-flex-order: -2;
    order: -2;
}

.logo img {
    width: 54px;
    margin-right: var(--gap);
}

.descr span {
    font-size: 20px;
    line-height: 1.3;
}

.descr small {
    font-size: 16px;
}

.social {
    margin: 10px;
    max-width: unset;
}

.social__box {
    text-align: center;
    line-height: 0;
}

.call {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
    width: unset;
    margin: 10px;
}

.call_back {
    display: block;
}

.call__tel {
    background: none;
    padding: 0;
}

.burger {
    display: none;
}

.nav {
    visibility: visible;
    opacity: 1;
    z-index: 5;
    position: relative;
    top: unset;
}

.nav__menu {
    display: block;
}

.nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.nav__item--has-children>a,
.nav__menu>li:not(.nav__item--has-children) {
    display: block;
}

.nav__menu a {
    background: none;
    padding: 10px 5px;
    display: block;
}

.nav__menu>li {
    color: var(--white);
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    margin: 7px 35px
}

.nav__menu li:not(.nav__item--has-children):hover>a {
    opacity: 0.6;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.nav__submenu {
    position: absolute;
    width: 470px;
    background: rgba(216, 19, 0, 0.3);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 0px 0px 10px 10px;
    left: -15px;
    padding: 5px 15px;
    visibility: hidden;
    opacity: 0;
    z-index: -2;
    -webkit-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.nav__submenu::before,
.nav__submenu::after {
    content: "";
    width: 100%;
    height: 45px;
    top: -45px;
    background: rgba(216, 19, 0, 0.3);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 10px 10px 0px 0px;
    position: absolute;
    left: 0;
}

.nav__submenu::after {
    background: rgba(238, 0, 0, 0.3);
}

.nav__submenu li {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    text-align: left;
    padding: 0;
}

.nav__item--has-children {
    z-index: 2;
}

.nav__item--has-children>a {
    z-index: 1;
}

.nav__submenu a {
    padding: 5px
}

.nav__item--has-children:hover .nav__submenu {
    visibility: visible;
    opacity: 1;
    z-index: unset;
}


/* intro */

.intro {
    padding: 180px 0 90px;
}

.intro__item::before {
    width: 36px;
    height: 39px;
}

h1,
h2 {
    font-size: 42px;
}

h2,
.sec-adv__title {
    margin-bottom: 50px;
}

.intro__desc {
    font-size: 27px;
}

.grad-btn {
    display: inline-block;
    padding: 20px var(--gap);
    width: unset;
}

.intro__btn:first-child {
    margin-right: 60px;
}

.intro__down {
    width: 40px;
    bottom: 30px;
}


/* kind */

.kind {
    padding: 100px 0;
}

.kind__list {
    display: -ms-grid;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(calc(50% - 20px), calc(33.3% - 40px))); */
    grid-template-columns: repeat(auto-fill, minmax(320px, 350px));
    gap: 50px 40px;
    margin-bottom: 50px;
}

.kind__item {
    margin: 0;
    max-width: 372px;
}

.kind__img {
    height: 230px;
}

.kind__item-body {
    padding: 20px;
}

.kind__title {
    font-size: 25px;
    margin-bottom: 20px;
}

.kind__title .light {
    font-size: 20px;
}

.kind__adv {
    font-size: 16px;
}

.kind__desc {
    margin: 10px 0 20px;
}


/* advantages */

.adv {
    background-image: url(../pics/bg/adv.jpg);
    padding-bottom: 30px;
}

.adv__item {
    max-width: 300px;
    width: 100%;
    margin: 30px 0;
}

.adv__item::before {
    width: 100px;
    height: 90px;
}

.adv__item:nth-child(1) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.adv__item:nth-child(2) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.adv__item:nth-child(3) {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
}

.adv__item:nth-child(4) {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}

.adv__item:nth-child(5) {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
}

.adv__item:nth-child(6) {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
}

.adv__item:nth-child(7) {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
}


/* works */

.work {
    padding: 150px 0 75px;
}

.work__title {
    position: absolute;
}

.work__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.work__task {
    width: 330px;
    padding: 115px 0 70px;
}

.work__img {
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
}

.work__img,
.work__pag {
    width: calc(100% - var(--slide-left)) !important;
}

.work__img img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.work_calc {
    position: absolute;
    top: 420px;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
}

.work__subtitle {
    font-size: var(--gap);
}

.work__text {
    margin-bottom: var(--gap);
}

.work__slider {
    margin: 0;
    padding: 0;
}

.work__prev,
.work__next {
    top: 50%;
    width: 55px;
    height: 50px;
}

.work__prev:after,
.work__next:after {
    font-size: 20px;
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
}

.work__prev {
    margin-left: calc(var(--slide-left) + 15px);
}

.work__pag {
    margin-left: var(--slide-left);
    bottom: var(--gap)!important;
}


/* about */

.about {
    padding-top: 75px;
}

.about__top {
    margin-bottom: 50px;
}

.about__top,
.about_adv__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr var(--gap) 1fr;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    max-width: unset;
}

.about__desc {
    margin-bottom: 0;
}

.about__quot {
    margin: 0;
    font-weight: 500;
}

.about__quot,
.about__desc {
    max-width: 526px;
}

.quot::before,
.quot::after {
    font-size: 90px;
}

.quot::before {
    top: -25px;
}

.quot::after {
    bottom: -68px;
}

.about_adv__item {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    max-width: 450px;
}

.about_adv__item::before {
    margin-right: var(--gap);
}

.about__img {
    margin: 50px 0 0;
}

.about__ques {
    font-size: 18px;
    max-width: 560px;
    padding: var(--gap);
}

.about__btn {
    margin: var(--gap) 0 0 0;
}


/* reviews */

.review {
    padding-top: 60px;
}

.review__cover {
    max-width: 580px;
}

.review__slider {
    width: 223px;
    height: 485px;
    left: calc(50% - 76px);
    top: 17px;
}

.review__prev,
.review__next {
    width: 34px;
    height: 34px;
}

.review__pag .swiper-pagination-bullet {
    margin: 0 5px!important;
    width: 10px;
    height: 10px;
}

.review__pag {
    bottom: 45px!important;
}

.map__title {
    font-size: 32px;
    padding: 20px;
}

.map__tel {
    border-radius: 10px;
    font-weight: 500;
}


/* feedback */

input {
    font-size: 18px;
    padding: 15px 30px;
}

.feedback__form {
    max-width: 570px;
}

.feedback__form .form__agreement {
    font-size: 14px;
    line-height: 16px;
}

.feedback__video {
    width: 530px;
    height: 355px;
    max-width: unset;
}

.feedback__video_play {
    width: 84px;
}

.feedback__video:hover .feedback__video_play {
    width: 90px;
}


/* popup */

.popup {
    max-width: 628px;
}

.popup__body {
    padding: 55px 100px 40px 35px;
}

.popup__close {
    right: 34px;
    top: 34px;
}


/* sec adv */

.sec-adv__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-gap: 0;
}

.sec-adv__item {
    margin: 25px;
}


/* sec kinds */

.kind--sec {
    padding: 20px 0 120px;
}

.kind--sec__title {
    text-align: left;
}

.kind--sec .kind__list--sec {
    margin: 0 auto 50px;
}


/* sep-form */

.sep-form {
    background-image: url(../pics/bg/form.jpg);
    padding: 20px 0;
}

.sep-form__cont {
    width: 482px;
}

.sep-form__btn {
    max-width: 230px;
    background: #EE0000;
    border-radius: 5px;
    margin: 30px 0 20px;
}


/* steps */

.step {
    background-image: url(../pics/bg/step.jpg);
    padding: 65px 0;
}

.step__list {
    grid-gap: 8%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    grid-auto-flow: column;
}

.step__item {
    text-align: left;
    width: unset;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.step__item::before {
    margin-left: 0;
}

.step__item::after {
    width: 42px;
    height: 36px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    left: 165px;
    top: 25px;
}

.step__subtitle {
    font-size: 20px;
    margin-bottom: 20px;
}

.step__text {
    font-size: 18px;
}


/* popup gallery */

.popup.popup__gallery {
    max-width: 850px;
}

.popup__gal-body {
    padding: 50px 30px;
    -ms-grid-columns: 100px auto 265px;
    grid-template-columns: 100px auto 265px;
}

.kind__thumbs {
    display: block;
    height: 250px;
    overflow: hidden;
    margin: auto;
}

.kind-popup__btn {
    font-size: 15px;
}


/* not supports backdrop-filter  */

@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .nav__submenu {
        background: rgb(206, 49, 34);
    }
}